<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Localcito</title>
    <script src="js/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body background="img/bg.jpg">
    <div class="col-lg-12 col-md-4 col-12">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #386900">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="Inicio.html" title="Home">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="Formulario.html">Ingresa Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="Lista.html">Lista de Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">EN CONSTRUCCION</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
        <br>

        <div class="col-lg-12 col-12 col-md-4 text-center">
            <div class="mdl-grid">
                <div>
                    <form action="#">
                        <div>
                            <tr>
                                <label for="searchProduct">
                                    <h3 class="text-white">BUSCAR: </h3>
                                </label>
                                <div class="mdl-textfield__expandable-holder">
                                    <input class="mdl-textfield__input form-control" type="text" id="searchProduct">
                                    <label class="mdl-textfield__label"></label>
                                </div>
                            </tr>
                        </div>
                    </form>
                    <nav class="col-lg-12">
                        <ul class="list-group list-group-horizontal-lg">
                            <li class="list-group-item-info list-group-item inline-block"><a href="#!">Category 1</a></li>
                            <li class="list-group-item-info list-group-item inline-block"><a href="#!">Category 2</a></li>
                            <li class="list-group-item-info list-group-item inline-block"><a href="#!">Category 3</a></li>
                            <li class="list-group-item-info list-group-item inline-block"><a href="#!">Category 4</a></li>
                        </ul>
                    </nav>
                    <br>
                    <div>
                        <div>
                            <div>
                                <h5>Nombre Producto:</h5>
                            </div>
                            <div>
                                <small>Stock:</small><br>
                                <small>Categoria:</small><br>
                                <small>Id Producto: </small><br><br>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h5>Nombre Producto:</h5>
                            </div>
                            <div>
                                <small>Stock</small><br>
                                <small>Categoria:</small><br>
                                <small>Id Producto: </small><br><br>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h5>Nombre Producto</h5>
                            </div>
                            <div>
                                <small>Stock</small><br>
                                <small>Categoria:</small><br>
                                <small>Id Producto: </small><br><br>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h5>Nombre Producto</h5>
                            </div>
                            <div>
                                <small>Stock</small><br>
                                <small>Categoria:</small><br>
                                <small>Id Producto: </small><br><br>
                            </div>
                        </div>

                    </div>

                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                        crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                        crossorigin="anonymous"></script>
</body>
</html>