<!DOCTYPE html>
<html>
 <head>
      <title>Localcito</title>
      <meta charset="UTF-8" />
      <style>
        <body>
           {background-color: lightblue;}
           h1{
           	color:darkred;
           }
           h2{
           	color:darkgreen;
           }
           </style>
 </head>
 <body>
   <header>
        <h1>
        SISTEMA INVENTARIO
        </h1>      
          <nav>
             <ul>
              

             <li> <a href= "/inicio">Inicio</a></li>
             <li> <a href= "/formulario">Formulario</a></li>
             <li> <a href= "/lista">Lista</a></li>
             <li> <a href= "/privado">Contenido Privado</a></li>  
           
             </ul>
           </nav>
           <div id="contenido">
               <h2> {{pagina}}</h2>
            <article>
                     {{contenido}}
            </article>
           </div>
           <footer> Desarrollo Aplicaciones </footer>
         </body>
         
         </html>  


                    
  
  
